################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommAPI/obj
/.vs/ECommerce
/ECommAPI/bin/Debug/netcoreapp3.1
